{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>コメント付きマップ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script>
    const topics = [
        {% for topic in topics %}
        { "lat":{{ topic.lat }},"lon":{{ topic.lon }},"comment":"{{ topic.comment }}","icon":"{{ topic.icon.id }}" },
        {% endfor %}
    ];
    const icons = {
        {% for icon in icons %}
        "{{ icon.id }}":"{{ icon.img.url }}",
        {% endfor %}
    };

    console.log(icons)

</script>
<style>
#map {
    height:90vh;
}
</style>

</head>
<body>

    <h1 class="bg-success text-white text-center">コメント付きマップ</h1>

    <main>
        
        <div class="row mx-0">
        
            <div class="col-sm-6">
                <div id="map"></div>
            </div>
            <div class="col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    <select name="icon">
                        <option value="">マーカーのアイコンを選んでください。</option>
                        {% for icon in icons %}
                        <option value="{{ icon.id }}">{{ icon.name }}</option>
                        {% endfor %}
                    </select>
                    <input id="lat_input" type="text" name="lat" placeholder="緯度" required maxlength=9>
                    <input id="lon_input" type="text" name="lon" placeholder="経度" required maxlength=9>
                    <textarea class="form-control" name="comment"></textarea>
                    <input type="submit" value="送信">
                </form>
                {% for topic in topics %}
                <div class="border">
                    <div>{{ topic.comment }}</div>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>

    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
        //マップの表示位置を指定(緯度・経度)
        var map = L.map('map').setView([34.6217684, -227.2109985], 9);

        //地図データはOSMから読み込み
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        for (let topic of topics ){

            //オリジナルのアイコンを作る
            var origin_icon = L.icon({
                iconUrl: icons[topic["icon"]],
                iconSize: [38, 38],
                iconAnchor: [19, 0],
                popupAnchor: [0, 0],
            });
            
            L.marker([topic["lat"], topic["lon"]] , {icon: origin_icon}).addTo(map).bindPopup(topic["comment"]).openPopup();
        }


        //オリジナルのアイコンを作る
        var myIcon = L.icon({
            iconUrl: "{% static 'bbs/img/tamago.png' %}",
            iconSize: [38, 38],
            iconAnchor: [19, 0],
            popupAnchor: [0, 0],
        });


        //予め定義しておく
        var marker;

        //マウスクリックで緯度と経度の取得とポイント設置
        function onMapClick(e) {

            //マーカーの指定があれば消す
            if (marker){
                map.removeLayer(marker);
            }
            //ここでアイコンを指定
            marker = L.marker(e.latlng , {icon : myIcon}).addTo(map);
            //追加する
            /*
            marker = new L.Marker(e.latlng);
            map.addLayer(marker);
            */

            console.log(e.latlng);
            $("#lat_input").val(Math.round(e.latlng["lat"]*1000000)/1000000);
            $("#lon_input").val(Math.round(e.latlng["lng"]*1000000)/1000000);
        }
        map.on('click', onMapClick);
    </script>

</body>
</html>

